@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#__next {
  @apply h-full;
}

.btn {
  @apply px-4 py-3 font-bold rounded;
}

.btn-primary {
  @apply text-white bg-blue-500;
  box-shadow: 0px 4px 1px 0px rgb(37 99 235 / var(--tw-bg-opacity));
  cursor: pointer;
}
.btn-primary:hover {
  @apply bg-blue-600;
  box-shadow: 0px 4px 1px 0px rgb(30 64 175 / var(--tw-bg-opacity));
}

.btn-primary:disabled {
  @apply text-gray-500 bg-gray-200 shadow-none;
  cursor: not-allowed;
}

.btn-white {
  @apply text-gray-500 bg-white;
  box-shadow: 0px 4px 1px 0px rgb(243 244 246 / var(--tw-bg-opacity));
}
.btn-white:hover {
  box-shadow: 0px 4px 1px 0px rgb(243 244 246 / var(--tw-bg-opacity));
}

.btn-outline {
  @apply font-semibold text-blue-700 bg-transparent border border-blue-500;
}
.btn-outline:hover {
  @apply text-white bg-blue-500 border-transparent;
}

.input {
  @apply px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md appearance-none focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm;
}

th {
  @apply font-normal text-left text-gray-500;
}
